*{
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 - 800;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  
}

nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 150px;
}
.text-primary{
    color: #fd6e0a;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-primary:hover{
    background-color: #fff;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    cursor: pointer;
    
}
.btn-contract{
    background-color: #fff;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.header{
    background-color: #FFF8F3;
}
.banner-greating{
    display:flex;
    justify-content: space-between;
    width: 60%;
    
}
.greating{
    margin-left: 40px;
    width: 80%;
}
.banner{
    display: flex;
    justify-content: space-around;
}
.banner-profile{
    background-image: url(./images/header_bg.png);
    padding-right: 20px;
}
.about{
    text-align: center;
    width: 70%;
    margin: 40px auto;
    background-color: #d9f18d;
    padding: 20px;
}
.info-area{
    display: flex;
    justify-content: space-between;
    
}